# Node modules
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Build outputs
Frontend/build/
Backend/build/
Frontend/dist/
Backend/dist/

# Environment variables
.env
Frontend/.env
Backend/.env

# Logs
*.log
